@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-brand-cream: #faf9f6;
  --color-brand-gold: #c5a059;
}

html, body {
  overflow-x: hidden;
}

.dark {
  --color-brand-bg: #0c0a09; /* stone-950 */
  --color-brand-text: #FAF9F6;
}

/* Hide controls by default */
.hide-controls::-webkit-media-controls {
  display: none !important;
}

/* Show controls on hover */
.group:hover .hide-controls::-webkit-media-controls {
  display: flex !important;
}

@theme {
  /* Define your base colors */
  --color-brand-bg: #FAF9F6;
  --color-brand-text: #1a1a1a;

  /* Tell Tailwind 4 to look for the .dark class */
  /* @variant dark (&:where(.dark, .dark *)); */
}

:root {
  background-color: var(--color-brand-cream);
  color: #1a1a1a;
  scroll-behavior: smooth;
}

/* Custom Fluid Typography Utility */
@utility text-fluid-h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  line-height: 1.1;
  letter-spacing: -0.02em;
}

/* AOS Custom Overrides */
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
